@model PracticeWebApp.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі замовлення</h1>

<div>
    @*<h4>Order</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostService)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostService.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDepartmentAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDepartmentAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
        
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    
                </th>
                <th>
                    Назва товару
                </th>
                <th>
                    Ціна
                </th>
                <th>
                    Кількість
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (OrderProduct item in ViewBag.OrderProducts)
            {
                <tr>
                    <td>
                        @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                                     + Convert.ToBase64String(item.Product.Image) + "\" />")
                    </td>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @item.Product.Price
                    </td>
                    <td>
                        @item.Amount
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a> |
    <a asp-action="IndexAll">Повернутися до списку замовлень</a>
</div>
