@model IEnumerable<PracticeWebApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Товари</h1>
@if (User.IsInRole("Адміністратор"))
{
    <p>
        <a asp-action="Create">Створити новий товар</a>
    </p>
}
<div class="col-md-12 products">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="product-wrap">
                    <div class="product-item">
                        @*<img src="https://html5book.ru/wp-content/uploads/2015/10/black-dress.jpg">*@
                        @Html.Raw("<img style='width:270px; height:270px;' src=\"data:image/jpeg;base64,"
                                         + Convert.ToBase64String(item.Image) + "\" />")
                        <div class="product-buttons">
                            <a class="button" asp-action="Buy" asp-controller="CartProducts" asp-route-id="@item.Id">В корзину</a>
                            @*<a href="" class="button">В корзину</a>*@
                        </div>
                    </div>
                    <div class="product-title">
                        <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name) </a>
                        @*<a href="">@Html.DisplayFor(modelItem => item.Name)</a>*@
                    <span class="product-price">
                        @Html.DisplayFor(modelItem => item.Price) ₴
                    </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




