@model IEnumerable<PracticeWebApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Товари</h1>
@if (User.IsInRole("Адміністратор"))
{
    <p>
        <a asp-action="Create">Створити новий товар</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>*@
                <td>
                    @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                                        + Convert.ToBase64String(item.Image) + "\" />")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Buy" asp-controller="CartProducts" asp-route-id="@item.Id">Купити</a>
                    <a asp-action="Details" asp-route-id="@item.Id"> Деталі </a>
                    @if (User.IsInRole("Адміністратор"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>

                        <a asp-action="Delete" asp-route-id="@item.Id"> Видалити </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

