@model PracticeWebApp.Models.SubcategoryCategory

@{
    ViewData["Title"] = "Delete";
}

@*<h1>Delete</h1>*@

<h3>Ви впевнені, що хочете видалити цю категорію товару?</h3>
<div>
    @*<h4>SubcategoryCategory</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSubcategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSubcategory.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.Id">Повернутися до списку категорій в підкатегорії</a>
    </form>
</div>
